---
layout:  default/with-nav 
title:  Dev Books
category: dev-book 
permalink: /router/dev-books
years : ['2018', '2017', '2016']
---

<style>
  .dev-books-router-header {
    height: 300px;
    background-image: url("/assets/images/header-cover/adult-indoors-man-970084.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  @media only screen and (max-width: 600px) {
    .dev-books-router-header {
      background-position: top center;
      height: 150px;
    }
  }

  .dev-books-router-header__title {
    font-size: 36px;
    font-family: "Josefin Sans", "Noto Sans KR", sans-serif;
    font-weight: 100;
    font-style: italic;
    letter-spacing: -0.1em;
  }
  @media only screen and (max-width: 600px) {
    .dev-books-router-header__title {
      font-size: 24px;
    }
  }

  .dev-books-router-container {
    max-width: 960px;
    margin: auto;
  }
  @media only screen and (max-width: 600px) {
    .dev-books-router-container {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .dev-books-router-container a {
    text-decoration: none;
  }

  .dev-books-router-container * {
    font-family: 'Nanum Gothic', sans-serif;
    color: gray;
    line-height: 1.4em;
  }


  .dev-books__size {
    font-size: 36px;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  @media only screen and (max-width: 600px) {
    .dev-books__size {
      font-size: 24px;
    }
  }
  .dev-books__year-title {
    margin-top: 30px;
    font-size: 42px;
    font-family: 'Black Han Sans', sans-serif;
    color: white;
  }
  @media only screen and (max-width: 600px) {
    .dev-books__year-title {
      font-size: 32px;
    }
  }

  /* Book list style */
  .dev-books__book-list {
    width: 50%;
    overflow: hidden;
  }

  @media only screen and (max-width: 600px) {
    .dev-books__book-list {
      width: 100%;
    }
  }
  
  .dev-books__meta {
    width: 100%;
    padding-left: 10px;
  }
  
  .dev-books__cover-img {
    min-width: 100px;
    max-width: 100px;
    min-height: 140px;
    max-height: 140px;
  }
  
  .dev-books__title {
    font-size: 24px;
    font-weight: 900;
    color: white;
  }
  @media only screen and (max-width: 600px) {
    .dev-books__title {
      font-size: 20px;
    }
  }
</style>


<div class="dev-books-router-header flex f-wh-center" >
  <div class="dev-books-router-header__title">
    "정리되지 않은 지식은 모두 가짜다."
  </div>
</div>

<div class="dev-books-router-container">
  <div class="dev-books__size">
    Total Dev books I readed : <strong class="c-white">{{site.categories[page.category].size}}</strong>
  </div>
  <div>
    {% for year in page.years %}
    <!-- year title -->
    <div class="dev-books__year-title">{{year}}</div>
    <!-- book list -->
    <ul class="flex-wrap no-margin no-padding">
      {% for post in site.categories[page.category] %}
        {% assign postYear = post.date | date: "%Y" %}
          {% if year == postYear %}
          <li class="dev-books__book-list">
              <a href="{{ site.baseurl }}{{post.url}}">
                  <div class="flex p-a-15">
                    <div class="dev-books__cover-img flex f-wh-center">
                      <img src="{{post.bookCoverUrl}}" />
                    </div>
                    <div class="dev-books__meta flex flex--column w-auto">
                      <div class="dev-books__title">{{post.title}}</div>
                      <div class="dev-books__author">{{post.author}}</div>
                      <div class="dev-books__stars flex f-w-end">{{post.stars}}</div>
                      <div class="dev-books__date flex f-w-end">{{post.date | date_to_long_string }}</div>
                    </div>
                  </div>
                </a>
              </li>
          {% endif %}
          {% endfor %}
    </ul>
    {% endfor %}
    <!-- {% if site.categories[page.category] %}
    {% else %}
    <p>There are no posts for this categories.</p>
    {% endif %} -->
  </div>