.dev-books-router-header {
  height: 300px;
  background-image: url("/assets/images/header-cover/adult-indoors-man-970084.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 600px) {
  .dev-books-router-header {
    background-position: top center;
    height: 150px;
  }
}

.dev-books-router-header__title {
  font-size: 36px;
  font-family: "Josefin Sans", "Noto Sans KR", sans-serif;
  font-weight: 100;
  font-style: italic;
  letter-spacing: -0.1em;
}
@media only screen and (max-width: 600px) {
  .dev-books-router-header__title {
    font-size: 24px;
  }
}

.book-card__layout {
  font-family: "Josefin Sans", "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 100;
}

.book-card__layout a:hover {
  color: inherit;
}

.book-card__layout {
  display: flex;
  flex-wrap: wrap;
}

.book-card__item {
  margin: 4px;
  width: 260px;
  height: 140px;
  border: 1px solid rgba(95, 158, 160, 0.2);
  display: flex;
}

.book-card__item:hover {
  border: 1px solid rgba(95, 158, 160, 1);
}

.book-card__color {
  width: 6px;
  height: 100%;
  background-color: rgba(95, 158, 160, 1);
}

.book-card__cover {
  flex-shrink: 0;
  margin-left: 2px;
  width: 100px;
  height: 100%;
}

.book-card__cover img {
  width: 100%;
  height: 100%;
}

.book-card__info-list {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}
