.title {
  margin-top: 20px;
  color: white;
  font-size: 48px;
}

@media (max-width: 960px) {
  .title {
    font-size: 20px;
  }
}

.welcome {
  font-family: 'Nanum Myeongjo', serif;
  max-width: 620px;
  margin: auto;
  font-size: 18px;
  line-height: 32px;
  color: #ffffffe1;
}

.welcome p {
  line-height: 1.8em;
}

@media (max-width: 960px) {
  .welcome {
    font-size: 14px;
    line-height: 32px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.thank {
  font-size: 14px;
  line-height: 24px;
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

@media (max-width: 960px) {
  .thank {
    font-size: 14px;
    line-height: 20px;
  }
}

.welcome p {
  margin-bottom: 20px;
}

@media (max-width: 960px) {
  .welcome {
    margin-bottom: 12px;
  }
}

.welcome p:not(.title):not(.greeting):not(.thank) {
  text-indent: 8px;
}

.welcome p.spacer {
  margin-top: 30px;
}
