/* MEDIA QUERY */
/* @media only screen and (max-width: 600px) {
} */

:root {
  /* Identity Color Set */
  --background-color: #1d1e1e;
  --header-color: #16162e;
  --text-color: #dddddd;
  --text-color-bright-1: #ebebeb;
  --link-color: #dddddd;
  --link-hover-color: rgba(255, 0, 0, 0.646);
  --text-app-blue: #0075aa;

  color: #c5c5c5;
}

/* Identity Font Family */
:root {
  /* font-family: "Nanum Gothic", sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background-color: var(--background-color);
}

/* FONT COLOR DECLARATION */
h1,
h2,
h3,
h4,
h5 {
  color: var(--text-color-bright-1);
}

strong {
  color: white;
}

/* FONT WEIGHT */
p {
  font-weight: 100;
}

strong {
  font-weight: 300;
}

li {
  font-weight: 100;
}

/* FONT SIZE */
h1 {
  font-size: 25px;
  line-height: 1.5em;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 26px;
  }
}

h2 {
  font-size: 24px;
  line-height: 1.5em;
}
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 23px;
  line-height: 1.5em;
}
@media only screen and (max-width: 600px) {
  h3 {
    font-size: 22px;
  }
}

h4 {
  font-size: 22px;
  line-height: 1.5em;
}
@media only screen and (max-width: 600px) {
  h4 {
    font-size: 20px;
  }
}

h5 {
  font-size: 20px;
  line-height: 1.5em;
}
@media only screen and (max-width: 600px) {
  h5 {
    font-size: 18px;
  }
}

p,
li {
  font-size: 18px;
  line-height: 1.8em;
}
@media only screen and (max-width: 600px) {
  p,
  li {
    font-size: 16px;
  }
}

/* TEXT INDENT DECLARATION */
h2 {
  text-indent: 4px;
}
h3 {
  text-indent: 8px;
}
h4 {
  text-indent: 12px;
}
h4 {
  text-indent: 16px;
}
h5 {
  text-indent: 20px;
}

@media only screen and (max-width: 600px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-indent: 0px;
    padding-left: 0px;
  }
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}

/* 헤더 바로 뒤에 오는 p태그 */
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p {
  margin-top: 0px;
}

p + h1,
ul + h1,
ol + h1 {
  margin-top: 20px;
}

p + h2,
ul + h2,
ol + h2 {
  padding-top: 14px;
}

p + h3,
ul + h3,
ol + h3 {
  padding-top: 12px;
}

p + h4,
ul + h4,
ol + h4 {
  padding-top: 10px;
}

p + h5,
ul + h5,
ol + h5 {
  padding-top: 8px;
}

@media only screen and (max-width: 600px) {
  p {
    padding-left: 2px;
  }
}

.code-toolbar {
  padding-left: 28px;
}

@media only screen and (max-width: 600px) {
  .code-toolbar {
    padding-left: 4px;
  }
}

p {
  text-indent: 4px; /* 말 앞머리  */
}

/* Inline code style */
code {
  letter-spacing: -0.05em;
  word-spacing: -0.2em;
  background-color: rgb(63, 63, 63);
  border-radius: 3px;
  font-family: courier, monospace;
  color: #99e9ff;
  padding: 0 3px;
}

/* DEFAULT <a> TAG */
a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  color: var(--link-hover-color);
}

a:hover code {
  color: var(--link-hover-color);
}

/* app global separator */
.separator {
  border-bottom: 1px solid gray;
  /* border-bottom: 1px dashed rgba(#fafafa, 0.15); */
}

/* text indent */

/** CODE STYLE **/
pre.quote {
  text-align: center;
}
pre.quote code {
  font-size: 32px;
  line-height: 1.8em;
  word-break: keep-all;
  white-space: pre-wrap;
  color: #ffffffe1;
  font-family: "Josefin Sans", "Noto Sans KR", sans-serif;
  font-weight: 100;
  letter-spacing: -0.08em;
}

@media only screen and (max-width: 600px) {
  pre.quote code {
    font-size: 16px;
  }
}

/** APPLICATIONS **/
.layout--center-focused {
  max-width: 960px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

/** padding-for-header **/
.padding-for-header {
  padding-top: 0px;
}

.padding-for-content {
  width: 100%;
  height: 100px;
}

@media only screen and (max-width: 600px) {
  .padding-for-content {
    height: 30px;
  }
}

/** **/
.img-holder img {
  width: 100%;
  /* height: 100%; */
}

/** Image container for aspect ratio **/
.img-container img {
  width: 100%;
}

/** BLOCQUOTE **/
blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid grey;
  border-radius: 2px;
}
blockquote {
  margin-left: 20px;
}

blockquote p {
  margin-bottom: 0;
  padding: 8px;
}

img {
  max-width: 100%;
}

/* @ ORDERED LIST AND UNORDERED LIST */
/* 
! ::marker에서는 translate가 안먹어서 :::before로 수정함.
*/

/* list */
ol,
ul {
  /* marg-top이 있으므로써 nested ordered list에도 모두 적용되어 간격이 더 벌어진다. (top level에만 적용해야한다.) */
  /* margin-top: 0.4rem; */
  /* margin-bottom: 0.4rem; */
  margin-left: 20px; /* list-style-position: inside; */
}

@media only screen and (max-width: 600px) {
  ol,
  ul {
    margin-left: 2px;
  }
}

/* item */
li {
  line-height: 1.6em;
  white-space: normal;
  box-sizing: border-box;
  margin-bottom: 2px;
}
@media only screen and (max-width: 600px) {
  li {
    line-height: 1.4em;
  }
}

/* unordered list */
ul li::before {
  content: "-";
  display: inline-block;
  width: 1rem;
  height: 21px;
  line-height: 21px;
  color: #18ffd6;

  transform: translate(2px, -2px);
}

/* ordered list */
ol {
  counter-reset: index;
}

ol li::before {
  counter-increment: index;
  content: counter(index) ". ";
  color: #18ffd6;
}

/* Unordered List Modifier */
ul.ul--empty li::before {
  content: unset !important;
}

ul.ul--right-point li::before {
  content: "▶" !important;
  font-size: 8px;
  transform: translate(2px, -4px);
}

ul.ul--circle li::before {
  content: "●" !important;
  font-size: 6px;
  transform: translate(6px, -6px);
}

ul.ul--check-list li::before {
  content: "✔︎" !important;
  font-size: 8px;
  transform: translate(2px, -4px);
}

ul.ul--snow li::before {
  content: "❆" !important;
  font-size: 16px;
  transform: translate(-1px, -1px);
}

/* p태그가 block 되는것 막기 */
li > p {
  display: inline !important;
  padding: 0 !important;
}

/* @DEPRECATED */
ol li {
  /* list-style-type: decimal; */
  /* margin-left: 24px; */
  /* margin-bottom: 1rem; */
}

/* ul li {
  list-style-type: disc;
  margin-left: 24px;
} */
