<div class="dev-books-router-header flex f-wh-center">
  <div class="dev-books-router-header__title">
    "정리되지 않은 지식은 모두 가짜다."
  </div>
</div>

{% assign swBookPosts = site.posts | where_exp: "item", "item.category contains 'sw-book'" %}
{% assign onReadingBooks = site.posts | where_exp: "item", "item.category contains 'sw-book'" | where: 'onReading', true %}

<div class="layout--center-focused">
  <section>
    <h2>Summary</h2>
    <ul>
      <li>Reading Road Map :
        <a href="https://drive.google.com/open?id=1dzvEMcr2tggIKSSpRND9bFI14cD5ugwBlNu2N0FZd94" target="_blank">Link<i class="fas fa-external-link-alt"></i></a>
      </li>
      <li>On Reading book Count : {{onReadingBooks.size}}</li>
      <li>Total Dev books I read : <strong class="c-white">{{site.categories[page.category].size}}</strong></li>
    </ul>
  </section>
  <section>
    <!-- On Reading Section -->
  </section>
  <section>
      {% for post in swBookPosts %}
        {% assign currentdate = post.date | date: "%Y" %}
        {% if currentdate != date %}
          {% unless forloop.first %}</div>{% endunless %} <!-- closing tag except last -->
          <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
          <div class="book-card__layout">
          {% assign date = currentdate %}
        {% endif %}
        <!-- Book Card -->
        {% if post.hasSummary %}
        <a href="{{post.url}}">
        {% endif %}
          <div class="book-card__item">
            <div class="book-card__color"></div>
            <div class="book-card__cover">
                <img src="{{post.bookCoverUrl}}" />
            </div>
            <!-- hasSummary -->
            <div class="book-card__info-list">
              {% if post.hasSummary %}
              <span style="position: absolute; right: 0; top: 0">
                <i class="fas fa-external-link-alt"></i>
              </span>
              {% endif %}
              <div class="text-ellipsis" style="text-align: center; font-size: 16px; font-weight: 300; margin: 30px 8px 20px 8px">{{post.title}}</div>
              <div style="text-align: center; color:grey"><i class="fas fa-user-alt"></i> {{post.author}}</div>
              <div style="text-align: center; color:grey"><i class="far fa-calendar-alt"></i> {{post.date | date_to_long_string }}</div>
            </div>
          </div>
        {% if post.hasSummary %}
        </a>
        {% endif %}
        {% if forloop.last %}</div>{% endif %} <!-- Last year closing tag -->
      {% endfor %}
  </section>
</div>
