<div class="dev-books-router-header flex f-wh-center">
  <div class="dev-books-router-header__title">
    "정리되지 않은 지식은 모두 가짜다."
  </div>
</div>

{% assign swBookPosts = site.posts | where_exp: "item", "item.category contains 'sw-book'" %}
{% assign onReadingBooks = site.posts | where_exp: "item", "item.category contains 'sw-book'" | where: 'onReading', true %}

<div class="layout--center-focused">
  <div>
    <h2>Reading Road Map <a href="https://drive.google.com/open?id=1dzvEMcr2tggIKSSpRND9bFI14cD5ugwBlNu2N0FZd94" target="_blank">Link</a></h2>
    <h2>On Reading book Count : {{onReadingBooks.size}}</h2>
    <h2>Total Dev books I read : <strong class="c-white">{{site.categories[page.category].size}}</strong></h2>
  </div>
  <section>
      {% for post in swBookPosts %}
        {% assign currentdate = post.date | date: "%Y" %}
        {% if currentdate != date %}
          {% unless forloop.first %}</ul>{% endunless %}
          <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2>
          <ul>
          {% assign date = currentdate %}
        {% endif %}
        <!-- Book Card -->
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% if forloop.last %}</ul>{% endif %}
      {% endfor %}
  </section>
</div>

<div class="dev-books-router-container">
  <div>
    {% for year in page.years %}
    <div class="dev-books__year-title">{{year}}</div>
    <ul class="flex-wrap no-margin no-padding li--prevent-before">
      {% for post in site.categories[page.category] %}
      <!--  -->
      {% assign postYear = post.date | date: "%Y" %}

      <!-- On Rading Book list-->
      {% if year == "onReading" and post.onReading == true %}
      <li class="dev-books__book-list">
        {% if post.hasSummary == true %}
        <a href="{{ site.baseurl }}{{post.url}}">
          {% endif %}
          <div class="flex p-a-15">
            <div class="img-container flex f-wh-center dev-books__cover-img">
              <img src="{{post.bookCoverUrl}}" />
            </div>
            <div class="dev-books__meta flex flex--column w-auto">
              <div class="dev-books__title">{{post.title}}</div>
              <div class="dev-books__author">{{post.author}}</div>
              <div class="dev-books__stars flex f-w-end">{{post.stars}}</div>
              <div class="dev-books__date flex f-w-end">
                {{post.date | date_to_long_string }}
              </div>
            </div>
          </div>
          {% if post.hasSummary == true %}
        </a>
        {% endif %}
      </li>

      <!-- Read Book list-->
      {% elsif post.onReading != true and year == postYear %}
      <li class="dev-books__book-list">
        {% if post.hasSummary == true %}
        <a href="{{ site.baseurl }}{{post.url}}">
          {% endif %}
          <div class="flex p-a-15">
            <div class="img-container flex f-wh-center dev-books__cover-img">
              <img src="{{post.bookCoverUrl}}" />
            </div>
            <div class="dev-books__meta flex flex--column w-auto">
              <div class="dev-books__title">{{post.title}}</div>
              <div class="dev-books__author">{{post.author}}</div>
              <div class="dev-books__stars flex f-w-end">{{post.stars}}</div>
              <div class="dev-books__date flex f-w-end">
                {{post.date | date_to_long_string }}
              </div>
            </div>
          </div>
          {% if post.hasSummary == true %}
        </a>
        {% endif %}
      </li>
      {% endif %} {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>
