/** POST HEADER **/
.post-header {
  background-color: black;
  color: white;
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  line-height: 2em;
  font-family: 'Black Han Sans', sans-serif;
  white-space: nowrap;
}

.post-header__meta {
  text-align: right;
  font-size: 18px;
}

.post-content__outer {
  width: 100%;
  background-color: #00171F;
}

.post-content__inner {
  margin: auto;
  max-width: 960px;
}

@media only screen and (max-width: 600px) {
  .post-content__inner {
    padding-left: 12px;
    padding-right: 12px;
  }
}

/** POST STYLE **/
.post-content h1 {
  font-size: 36px;
  line-height: 3em;
}

.post-content p,
.post-content li {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
  line-height: 2em;
  color: #c5c5c5;
}

.post-content p {
  word-break: break-all;
  text-indent: 10px;
}

.post-content p > code {
  letter-spacing: -0.05em;
  word-spacing: -0.2em;
  background-color: rgb(63, 63, 63);
  border-radius: 3px;
  font-family: courier, monospace;
  color: #99e9ff;
  padding: 0 3px;
}

@media only screen and (max-width: 600px) {
  .post-content p,
  .post-content li {
    font-size: 14px;
    line-height: 22px;
  }
}

.post-content li {
  padding-left: 1.5em;
}

.post-content li::before {
  content: '–';
  position: absolute;
  /*change margin to move dash around*/
  color: #676767;
  margin-left: -1em;
}

.post-content .separator {
  border-bottom: 1px dashed rgba(#FAFAFA,.15);
}

.post-content a {
  color: inherit;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;
  border-bottom: 3px solid rgba(0, 255, 0, 0.568);
}

/** post comment **/
.post-comment {
  margin: auto;
  max-width: 800px;
}

@media only screen and (max-width: 600px) {
  .post-comment {
    padding-left: 12px;
    padding-right: 12px;
  }
}
