<style>
  {% include nav/index.css %}
</style>



<header>
  <div id="nav-trigger" class="nav-trigger open">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
  <nav id="nav" class="out">
    <ul>
      <a href="/">
        <li>
          <span class="nav-label">Home</span>
        </li>
      </a>
      <li><span class="nav-label">About Me</span></li>
      <li><span class="nav-label">Portfolio</span></li>
      <li><span class="nav-label">Assay</span></li>
      <li><span class="nav-label">Dev-posts</span></li>
      <li><span class="nav-label">third value</span></li>
      <li><span class="nav-label">books</span></li>
      <li><span class="nav-label">gallery</span></li>
    </ul>
  </nav>
</header>

<script>
  {% include nav/index.js %}
</script>


