---
title: Tags
layout: router
permalink: /router/by/tag
---

<div id="archives" class="layout--center-focused">
  <h1>By Tags</h1>
  <div>
    {% for tag in site.tags %}
    <!--  -->
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <!--  -->
    <a href="#{{tag_name}}">{{tag_name}}</a>
    {% endfor %}
  </div>

  {% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <div id="{{ tag_name | slugize }}"></div>
    <!-- Category Header-->
    <div>
      <h3 class="category-head">{{ tag_name }}</h3>
    </div>

    <!-- Loop by Category -->
    <ul>
      {% for post in site.tags[tag_name] %}
      <article class="archive-item">
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
      </article>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
