---
author: asfrom30
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "kr" }}">

  <!-- HEAD META TAG -->
  {%- include head-tag.html -%}

  <body>
    <!-- NAVIGATION BAR -->
    {% if page.needNav == true %}
      {%- include /global/navigator/index.html -%}
    {% elsif page.needNav == false %}
        <!-- No need to render -->
    {% else %}
      {% if layout.needNav == true %}
        {%- include /global/navigator/index.html -%}
      {% endif %}
    {% endif%}
    
    <!-- Content -->
    {{ content }}
    
    <!-- DISQUS COMMENT -->
    <div class="post-body post-comment">
      {% if page.needComments == true %}
        {% include /utils/disqus-comments/index.html %}
      {% elsif page.needComments == false %}
        <!-- No need to render -->
      {% else %}
        {% if layout.needComments == true %}
          {% include /utils/disqus-comments/index.html %}
        {% endif %}
      {% endif%}
    </div>
    
    <!-- FOOTER -->
    {% if page.needFooter == true %}
      {%- include /global/footer/index.html -%}
    {% elsif page.needFooter == false %}
      <!-- No need to render -->
    {% else %}
      {% if layout.needFooter == true %}
        {%- include /global/footer/index.html -%}
      {% endif %}
    {% endif%}
  </body>

</html>

