/* 
* version 1.2 - 20180819
*/


/** MEDIA QUERY **/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 993px and up) */
/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 767px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}


/** CSS RESET **/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/** FOR DEV **/
.border{ border : 1px solid cyan; }
.border-w { border : 1px solid white; }
.border-r { border : 1px solid red; }
.border-g { border : 1px solid greenyellow; }
.border-c { border : 1px solid cyan; }
.border-m { border : 1px solid magenta; }

.no-margin{ margin:0; }
.no-padding{ padding:0; }
.no-border { border : none; }

.disabled { display: none !important; }

/** View Port **/
.v-100-vw {width:100vw;}
.h-100-vh {height:100vh;}

/** DISPLAY **/
.display-none{ display:none }
.display-table{display:table}
.display-table-cell{display:table-cell}

/** LAYOUT **/
/* Position */
.pos-relative{position:relative;}
.pos-absolute{position:absolute;}
/* FLEX */
.flex{ display:-webkit-box; display:-ms-flexbox; display:flex; }
.flex-wrap{display:flex; flex-wrap: wrap;}
.flex--column { -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column; }
.flex-row-wrap { display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-orient:horizontal; -webkit-box-direction:normal; -ms-flex-flow:row wrap; flex-flow:row wrap; }

.f-wh-center {-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center; -webkit-box-align:center;-ms-flex-align:center;align-items:center;}

.f-w-center {-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center; }
.f-w-start {-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start; }
.f-w-end {-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end; }
.f-w-between {-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;}
.f-w-around {justify-content:space-around;}

.f-h-center {-webkit-box-align:center;-ms-flex-align:center;align-items:center; }
.f-h-start {-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start; }
.f-h-end {-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end; }
.f-h-baseline {-webkit-box-align : baseline; -ms-flex-align : baseline; align-items : baseline;}

.f-h-center-self {-ms-flex-item-align:center;align-self:center; }
.f-h-start-self {-ms-flex-item-align:start;align-self:flex-start; }
.f-h-end-self {-ms-flex-item-align:end;align-self:flex-end; }

/* flew order */
.order-1 { order : -1; }
.order-2 { order : -2; }
.order-3 { order : -3; }

/* flex grow */
.f-gro-1 {flex-grow: 1};

/** WIDTH AND HEIGHT **/
/* Width percentage*/
.w-auto { width: auto }
.w-5-pct{ width:5%; }
.w-10-pct{ width:10%; }
.w-15-pct{ width:15%; }
.w-20-pct{ width:20%; }
.w-25-pct{ width:25%; }
.w-30-pct{ width:30%; }
.w-33-pct{ width:33%; }
.w-35-pct{ width:35%; }
.w-40-pct{ width:40%; }
.w-45-pct{ width:45%; }
.w-49-pct{ width:49%; }
.w-50-pct{ width:50%; }
.w-55-pct{ width:55%; }
.w-60-pct{ width:60%; }
.w-65-pct{ width:65%; }
.w-70-pct{ width:70%; }
.w-75-pct{ width:75%; }
.w-80-pct{ width:80%; }
.w-85-pct{ width:85%; }
.w-90-pct{ width:90%; }
.w-95-pct{ width:95%; }
.w-100-pct{ width:100%; }
/* Width px */
.w-60-px{width:60px}
/* Height px */
.h-100-pct{height:100%}
.h-90-pct{height:90%}
.h-80-pct{height:80%}
.h-70-pct{height:70%}
.h-60-pct{height:60%}
.h-50-pct{height:50%}
.h-40-pct{height:40%}
.h-30-pct{height:30%}
.h-20-pct{height:20%}
.h-10-pct{height:10%}
/* Height percentage */
.h-30-px{height:30px}
.h-50-px{height:50px}
.h-100-px{height:100px}
.h-150-px{height:150px}
/* z-index */
.z-1000{z-index: 1000;}

/** MARGIN AND PADDING **/
/* margin auto */ 
.m-w-auto { margin-left : auto; margin-right:auto}
.m-l-auto{ margin-left : auto}
/* margin all */
.m-a-5{margin : 5px;}
.m-a-10{margin : 10px;}
/* margin top */ 
.m-t-0{ margin-top:0px; }
.m-t-1{ margin-top:1px; }
.m-t-2{ margin-top:2px; }
.m-t-3{ margin-top:3px; }
.m-t-4{ margin-top:4px; }
.m-t-5{ margin-top:5px; }
.m-t-10{ margin-top:10px; }
.m-t-15{ margin-top:15px; }
/* margin bottom */ 
.m-b-0{ margin-bottom:0px; }
.m-b-2{ margin-bottom:2px; }
.m-b-4{ margin-bottom:4px; }
.m-b-5{ margin-bottom:5px; }
.m-b-10{ margin-bottom:10px; }
.m-b-20{ margin-bottom:20px; }
.m-b-30{ margin-bottom:30px; }
.m-b-40{ margin-bottom:40px; }
/* margin left */
.m-l-0{ margin-left:0px !important;}
.m-l-2{ margin-left:2px !important; }
.m-l-3{ margin-left:3px !important; }
.m-l-4{ margin-left:4px !important; }
.m-l-5{ margin-left:5px !important; }
.m-l-10{ margin-left:10px !important; }
.m-l-15{ margin-left:15px !important; }
/* margin right */
.m-r-auto{ margin-right:auto}
.m-r-0{ margin-right:0px; }
.m-r-2{ margin-right:2px; }
.m-r-3{ margin-right:3px; }
.m-r-4{ margin-right:4px; }
.m-r-5{ margin-right:5px; }
.m-r-10{ margin-right:10px; }
.m-r-15{ margin-right:15px; }
/* padding all */
.p-a-15 {padding: 15px};
.p-a-30 {padding: 30px};
.p-l-3 {padding-left: 3px};
.p-3{padding: 3px;}


/** Font and Text **/
/* text alignment*/
.text-align-center{ text-align:center; }

/* text style */
.f-w-b{ font-weight:bold; }
.f-w-900 { font-weight: 900; }

/* text handling */
.overflow-hidden{overflow:hidden}
.overflow-text-ellipsis{ overflow: hidden; text-overflow: ellipsis}

.ws-pre {white-space:pre}
.ws-nowrap {white-space:nowrap}

.wb-break-word { word-break:break-word }

/* font Size */ /* TODO: APPLY TO MEDIA query */
.font-xx-small {font-size: xx-small;}
.font-x-small {font-size: x-small;}
.font-small {font-size: small;}
.font-medium {font-size: medium;}
.font-large {font-size: large;}
.font-x-large {font-size: x-large;}
.font-xx-large {font-size: xx-large;}



/** COLOR **/
.c-black{color:black !important}
.c-white{color:white !important}
.c-red{color:red !important}
.c-blue{color:blue !important}
.c-green{color:chartreuse !important};


/** Table **/
/* Table Layout */
.table-layout-fixed{table-layout:fixed;}


/** CURSOR CHANGE **/
.cursor-pointer{ cursor: pointer; }

/** Remove Default Style **/
/* remove link tag default style */
a.remove-default, a.remove-default:hover, a.remove-default:focus, a.remove-default:active {
	text-decoration: none;
	color: inherit;
}

