/* 
<link rel="stylesheet" href="/assets/css/layouts/post-list.css" />
 */

/* @ POST LIST */
.post-list__container {
  padding-top: 24px;
  padding-bottom: 24px;
}

.post-list__title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1em;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.post-list__description {
  margin: 10px 0px 10px 0px;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 200;
  line-height: 1.6em;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
}

.post-list__date {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 200;
  color: var(--text-color-darken-1);
  line-height: 1em;
  padding-top: 4px;
  padding-left: 12px;
}

@media only screen and (max-width: 600px) {
  .post-list__title {
    font-size: 32px;
  }
  .post-list__date {
    font-size: 20px;
  }
}

a:hover .post-list__title {
  color: #0075aa;
}

a:hover .post-list__description {
  color: var(--text-color-bright-2);
}
