<style>
  {% include /global/navigator/navigator.css %}
</style>

<header class="navigator__container">
  <div id="nav-trigger" class="nav-trigger open">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
  <nav id="nav" class="out">
    <ul class="li--prevent-before">
      <li>
        <a href="/">
          <div class="flex flex--column f-w-center h-100-pct w-100-pct">
            <div class="flex f-w-center row-main-title">Home</div>
          </div>
        </a>
      </li>
      {% for mainRow in site.data.router.list %}
      <li>
        <div class="flex flex--column f-w-center h-100-pct w-100-pct">
          <div class="flex f-w-center row-main-title">{{mainRow.title}}</div>
          <div class="flex flex-wrap f-w-center">
            {% for sub in mainRow.subs %}
            <div class="row-sub-title">
              <a href="{{sub.url}}"
                >{{sub.title}} {% if sub.external == true %}
                <i class="fas fa-external-link-alt"></i>
                {% endif %} {% if forloop.last == false %} |&nbsp; {% endif %}
              </a>
            </div>

            {% endfor %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>

<script>
  {% include /global/navigator/navigator.js %}
</script>
