<!DOCTYPE html>
<html lang="en">
  <!-- head tag -->
  {%- include /head/index.html -%}
  <!-- secont head tag -->
  <head>
    <style>
      body {
        width: 100vw;
        height: 100vh;
        background-image: url("/assets/images/background-cover/discovery-launch-liftoff-23764.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
      }
      .suc__title {
        position: absolute;
        top: 45%;
        left: 0;
        right: 0;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <!-- nav bar -->
    {%- include /navigator/index.html -%}

    <!-- content -->
    <div class="suc__title">
      <h1>Site Under Construction</h1>
    </div>
  </body>
</html>
