.resume-container {
  font-family: "Nanum Myeongjo", serif;
}

.resume-row {
  margin-left: 20px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  .resume-row {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.resume__h1 {
  font-size: 42px;
  line-height: 1.2em;
  border-bottom: 6px solid gray;
  margin-bottom: 15px;
}
@media only screen and (max-width: 600px) {
  .resume__h1 {
    font-size: 32px;
  }
}

.resume__h3 {
  border-bottom: 1px solid gray;
  font-size: 34px;
  line-height: 1.2em;
}
@media only screen and (max-width: 600px) {
  .resume__h3 {
    font-size: 22px;
  }
}

.resume__h5 {
  font-size: 22px;
  line-height: 1.6em;
  color: #d8d8d8;
}

@media only screen and (max-width: 600px) {
  .resume__h5 {
    font-size: 18px;
  }
}

.resume__p {
  margin-left: 10px;
  color: #d8d8d8;
  line-height: 1.6em;
}

.resume-row__content > div {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

@media only screen and (max-width: 600px) {
  .resume-row__content > div {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* Table */
table,
th,
td {
  text-align: center;
  border: 1px solid #d8d8d8;
}

table th {
  height: 3em;
  line-height: 3em;
}

table td {
  height: 2em;
  line-height: 2em;
}

.stack-img {
  margin-left: 10px;
  padding: 5px;
  background-color: white;
  border-radius: 2px;
  width: auto;
  height: 50px;
  min-width: 50px;
}

@media only screen and (max-width: 600px) {
  .stack-img {
    margin-left: 5px;
    margin-bottom: 5px;
  }
}
