---
layout: atomics/scaffold
needNav: true
---

<style>
  article.serif {
    font-family: "Nanum Myeongjo", serif !important;
  }

  article.sans-serif {
    font-family: "Noto Sans KR", sans-serif !important;
  }
</style>

<!-- Font Condition -->
{%- if page.font == 'serif' -%}
<!--  -->
{%- capture fontClass -%}serif{%- endcapture -%}
<!--  -->
{% else %}
<!--  -->
{%- capture fontClass -%}sans-serif{%- endcapture -%}
<!--  -->
{%- endif -%}
<!--  -->

{% include atomic/title-header/index.html %}

<article class="layout--center-focused {{fontClass}}">
  {{ content }}
</article>
