---
layout: atomics/scaffold
---

<style>
  p {
    margin-bottom: 20px;
    font-weight: 100;
  }

  article.serif p {
    font-family: "Nanum Myeongjo", serif;
  }

  article.sans-serif p {
    font-family: "Noto Sans KR", sans-serif;
  }

  strong {
    font-weight: 400;
  }
</style>

<!-- Font Condition -->
{%- if page.font == 'serif' -%}
<!--  -->
{%- capture fontClass -%}serif{%- endcapture -%}
<!--  -->
{% else %}
<!--  -->
{%- capture fontClass -%}sans-serif{%- endcapture -%}
<!--  -->
{%- endif -%}
<!--  -->

{% include atomic/title-header/index.html %}

<article class="layout--center-focused {{fontClass}}">
  {{ content }}
</article>
