---
layout: atomics/root
needNav: true
needFooter: true
---

{% assign categoryName = page.categoryName %}

<div class="padding-for-header"></div>

{{content}}

<div class="layout--center-focused">
  {% for post in site.categories[categoryName] %}
  <div class="post-list__container">
    <a href="{{post.url}}">
      <div class="post-list__title">{{post.title}}</div>

      {% if post.description %}
      <div class="post-list__description">{{post.description}}</div>
      {% endif %}

      <div class="post-list__date">{{post.date | date: "%Y. %m. %d. %A"}}</div>
    </a>
  </div>
  {% endfor %}
</div>
