---
layout: atomics/root
author: asfrom30
needNav: true
needFooter: true
needComments: true
---

{% include atomic/title-header/index.html %}
<article class="post__root layout--center-focused">
  <!-- Table Of Content -->
  <div class="table-of-content">
    <h3>Table of Content</h3>
    {% include toc.html html=content class="ul--right-point" %}
  </div>

  <!-- Padding -->
  <div style="height: 40px"></div>

  <!-- Content  -->
  {{ content }}
</article>

<!-- Optional -->
<!-- DRAFT LABEL -->
{%- if page.draft -%} {% include atomic/corner-label/index.html label="DRAFT" color="blue" %} {%- endif -%}
