---
layout: atomics/scaffold
author: asfrom30
needNav: true
needFooter: true
needComments: true
---

<!-- sytle sheet for post layout -->
<link rel="stylesheet" href="/assets/css/layout-css/post.css" />

<article class="post">
  <!-- Post Title -->
  {% include atomic/title-header/index.html %}
  <!-- <header>
    Category Link
    <div class="post-categories">
      {% if post %} {% assign categories = post.categories %} {% else %} {% assign categories = page.categories %} {% endif %}
      {% for category in categories %}
      <a href="{{site.baseurl}}/categories/{{category|slugize}}">{{category}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
    </div>

    Tag Link
    <div class="post-tags">
      {% if post %} {% assign tags = post.tags %} {% else %} {% assign tags = page.tags %} {% endif %} {% for tag in tags %}
      <a href="{{site.baseurl}}/tags/{{tag|slugize}}">{{tag}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
    </div>
  </header> -->

  <!-- Post Content -->
  <div class="layout--center-focused" itemprop="articleBody">
    {{ content }}
  </div>

  <!-- Load disqus comments -->

  <!-- <div class="post-body post-comment">
    {%- if site.disqus.shortname -%}
    {%- include /utils/disqus-comments/index.html -%}
    {%- endif -%}
  </div> -->

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
