@media all and (min-width:768px) and (max-width:1024px) {
}

@media all and (min-width:1025px) {
}

/* BeanTown */
@font-face {
    font-family: beantown;
    src: url(./font/Beantown.ttf) format('truetype');
    font-style: normal;
    font-weight: normal
}

html{
	font-size:10px;
}

body{
	background-color:black;
	color:white;
}

.border{
	border : 1px solid cyan;
}

.number{
	font-family: beantown;
}

.noMargin{
	margin:0;	
}

/**
 Content Box 공통영역
 **/
/** 컨텐츠 박스는 데이터 주제 하나를 담는 박스입니다. **/
.contentBox {
	background-color: #404040 ;
	border-left: 3px solid #999999;
	margin-top: 10px;
	margin-bottom: 10px;
}
/** trend title **/
/** contentBox의 제목 **/
.contentBox .subTitle{
	font-size:1.8rem;
	font-weight:bold;
	margin-left:0.5rem;
}
/** trend title **/
/** contentBox의 제목의 아이콘 **/
.contentBox .subTitle > span{
	font-size:1.8rem;
	font-weight:0;
	margin-left:0.5rem;
	padding-top:1rem;
	padding-bottom:1rem;
}

/**
	Main Title
**/

#battleTag {
	font-size:2.5rem;
	font-weight:bold;
	color:white;
}

 /** height를 조금 수정하고 싶다. 고정값이기 때문에 진정한 의미의 responsive가 아닌거 같음 **/
 
 /**
.mainTitle{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image:url('../img/overwatch-season-2-released-news-banner.jpg');
	background-size : cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 5px 5px;
}

/** main title left right div(border) deprecated
.mainTitle > div:nth-child(1), .mainTitle > div:nth-child(3){
	height:100%;
	flex: 1 0 auto;
}
**/
#mainTitleImg{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
	width:61px;
	height: 50px;
	background-image:url('../img/icon-all.png');
	background-size : cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-right:5px;
	/** border-radius: 5px 0px 5px 0px; **/
}

/** Main Tab Page (전체요약, 영웅상세 버튼 클릭)**/
.mainTab{
	margin-bottom:10px;
}

.mainTab li{
	width:50%;
	text-align:center;
	height:30px;
}

#normalContentBtn, #heroContentBtn{
	height:30px;
}

#normalContentBtn a, #heroContentBtn a{
	padding:0;
	height:30px;
	text-align:center;
	line-height:30px;
}

#normalContentBtn a, #heroContentBtn a{
	background-color : transparent;
	border-bottom : 1px solid #999999;
	color: grey;
}

#normalContentBtn.active a, #heroContentBtn.active a{
	background-color : #404040;
	border : 1px solid #999999;
	color:white;
}

/** Normal Content **/
/** Profile **/

.profile .content{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    margin-top : 10px;
}
.profile .content > .box{
	
	-webkit-box-flex: 1;
	
	    -ms-flex: 1 1 33%;
	
	        flex: 1 1 33%;
	
	display:-webkit-box;
	
	display:-ms-flexbox;
	
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	
	overflow:hidden;
	border-radius:2px;
	background-color: #404040 ;
	
	padding-bottom:5px;

}
/** box title **/
.profile .content > .box > div:nth-child(1){
	-webkit-box-flex : 0;
	    -ms-flex : 0 0 auto;
	        flex : 0 0 auto;
	padding-top: 5px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
	font-size:1.3rem;
	font-weight:bold;
}

.profile .content > .box > div:nth-child(2){
	-webkit-box-flex : 1;
	    -ms-flex : 1 1 auto;
	        flex : 1 1 auto;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
	font-family:beantown;
	letter-spacing: 1px;
	font-size:2.5rem;
	line-height:2.5rem;
}

/** 경쟁전 점수 box **/
#box-1 > div:nth-child(2){
    
}

/** 티어 box **/
#box-2 > div:nth-child(2){
	width: 100%;
	height: 100%;
	min-height: 40px;
	/** background-image:url('../img/dia-badge.png'); **/
	background-size : contain;
	background-repeat: no-repeat;
	background-position: center;
}
/** 45%, 승무패**/
#box-3 > div:nth-child(2){
	display:block;
	text-align:center;
}
#box-3 > div:nth-child(2) > div:nth-child(1) {
	line-height: normal;
}
/** 45 **/
#box-3 > div:nth-child(2) > div:nth-child(1) > span:nth-child(1){
	
}
/** % **/
#box-3 > div:nth-child(2) > div:nth-child(1) > span:nth-child(2){
	font-size:0.5rem;
}
/** 승/무/패 **/
#box-3 > div:nth-child(2) > div:nth-child(2) {
	color:DarkGray ;
	font-size:1.5rem;
	line-height:1.5rem;
}



.profile .content > .divider{
	width:1px;
	border:1px solid grey;
	margin-left:0.5rem;
	margin-right:0.5rem;
}

/** most3 table **/
.most3 table th{
	font-size:1rem;
	text-align:center;
	vertical-align: middle;
	background-color:DimGray  ;
} 
.most3 table th:nth-child(1){
	width: 25%;
}
.most3 table th:nth-child(2){
	width: 25%;
}
.most3 table th:nth-child(3){
	width: 15%;
}
.most3 table th:nth-child(4){
	width: 15%;
}
.most3 table th:nth-child(5){
	width: 20%;
}

.most3 table > tbody > tr > td{
	font-size:1.5rem;
	font-family:beantown;
	letter-spacing : 1px;
	width: 15%;
	text-align:center;
	vertical-align: middle;
}
/** col 1 **/
.most3 table td:nth-child(1){
	font-family : initial;
	letter-spacing : -1.5px;
	font-size:1rem;
	font-weight:bold;
}

.most3 table td:nth-child(1) > div:nth-child(1){
	border-radius: 3px 0px 3px 0px;
	background-size : cover;
	background-repeat: no-repeat;
	background-position: center;
	width:60px;
	height: 45px;
	display:inline-block;	
}
.most3 table td:nth-child(1) > div:nth-child(2){
}
/** col 2 **/
.most3 table td:nth-child(2){
}
.most3 table td:nth-child(5){
}

/**
	Trend 공통영역
**/

/** trend Button group **/
.trend-btnGroup{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}

.trend-btnGroup > button{
	width:33%;
	margin:0;
	color:grey;
	background-color : #404040;
	border: #999999;
}

.trend-btnGroup > button > div:nth-child(1){
	font-weight: bold;
	font-size:1.5rem;
}

.trend-btnGroup > button > div:nth-child(2){
	font-weight: bold;
	font-size:1.2rem;
}

#trend-ystBtn:focus, #trend-todayBtn:focus, #trend-weekBtn:focus{
	background-color : #404040;
	outline: none;
}

#trend-ystBtn:hover, #trend-todayBtn:hover, #trend-weekBtn:hover{
	background-color : #404040;
	border: 1px solid DarkGray;
	color:DarkGray;	
}

#trend-ystBtn.active, #trend-todayBtn.active, #trend-weekBtn.active{
	background-color : #404040;
	border: 1px solid white;
	color:white;	
}


/** (공통) trend content **/
.trend .contentBox{
	padding-bottom:10px;	
}
.trend .contentBox .subContent{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
	margin:0;
	padding:0;
	margin-left:1.5rem;
	width: 100%;
}

/** (경쟁전 점수)  ▲ ▼ **/
#trend-cptPt > .subContent > div:nth-child(1){
	font-size:3rem;
	line-height:4rem;
}
/** (경쟁전 점수) 2135점 **/
#trend-cptPt > .subContent > div:nth-child(2){
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
	font-size:4rem;
	line-height:4rem;
	margin-right: 10px;
}

/** (공통) trend content **/
/** 라벨 **/
.trend .contentBox > .subContent > div:nth-child(2) > #label{
	font-size:1.2rem;
	line-height:1.2rem;
}
/** (공통) trend content **/
/** → **/
.trend .contentBox > .subContent > div:nth-child(4){
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
	font-size:3rem;
	line-height:2rem;
}
/** (공통) trend content **/
/** 하루전(2130) → 오늘(2302) **/
.trend .contentBox > .subContent > div:nth-child(3), 
.trend .contentBox > .subContent > div:nth-child(5) {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}
.trend .contentBox > .subContent > div:nth-child(3) > .upper, 
.trend .contentBox > .subContent > div:nth-child(5) > .upper{
	font-size:1.5rem;
	line-height:2rem;
}
/** (경쟁전 점수) 위쪽라벨 **/
.trend .contentBox > .subContent > div:nth-child(3) > .lower, 
.trend .contentBox > .subContent > div:nth-child(5) > .lower{
	font-size:2rem;
	line-height:2rem;
}

/** winRating **/
.contentBox.winRating > .subContent {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:end;
	    -ms-flex-align:end;
	        align-items:flex-end;
}

.contentBox.winRating > .subContent:nth-child(1) {
	
}

.labelNumber{
	font-family: beantown;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
    -webkit-box-align:end;
        -ms-flex-align:end;
            align-items:flex-end;
	font-size:4rem;
	line-height:2.5rem;
	margin-left:5px;
}

.labelNumber > span:nth-child(2){
	font-size: 2rem;
}

/** hero content pane **/
#heroContent{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
}
@media all and (min-width:768px) and (max-width:1024px) {
	#heroContent-selector{
		-webkit-box-ordinal-group:0;
		    -ms-flex-order:-1;
		        order:-1;
		margin:0;
	}
}

@media all and (min-width:1025px) {
	#heroContent-selector{
		-webkit-box-ordinal-group:0;
		    -ms-flex-order:-1;
		        order:-1;
		margin:0;
	}
}


/**
*	Radar Content
**/
.radarContainer{
	width:100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}

.radarContainer:after {
  padding-top: 100%;
  /* 16:9 ratio */
}

#radarCanvas{
	max-width:450px;
}

#heroContent-spacer{
	height:150px;
}


@media all and (min-width:768px) and (max-width:1024px) {
	.layout-2-column{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-ms-flex-pack:distribute;
		    justify-content:space-around;
	}
	.layout-2-column .contentBox:nth-child(1), #heroContent .contentBox:nth-child(2){
		width:49%;
	}
}

@media all and (min-width:1025px) {
	.layout-2-column{
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-ms-flex-pack:distribute;
		    justify-content:space-around;
	}
	.layout-2-column .contentBox:nth-child(1), #heroContent .contentBox:nth-child(2){
		width:49%;
	}
}
	
/**
*	Radar Table Content
**/

#hero-radarTable {
	border-style:none;
}

#hero-radarTable th{
	vertical-align : middle;
	background-color:DimGrey;
	font-size:11px;
	font-family: NanumBarunGothic;
	text-align:center;
	width:17%;
	letter-spacing: -1px;
}

@media all and (min-width:768px){
	#hero-radarTable th{
		font-size:12px;
		letter-spacing: 1px;
	}
}

#hero-radarTable th div{
}

#hero-radarTable th:nth-child(1){
	width:32%;
}
#hero-radarTable th:nth-child(2){
	background-color : rgba(154,208,245,0.2);
}
#hero-radarTable th:nth-child(3){
	background-color : rgba(255,99,132,0.2);
}
#hero-radarTable th:nth-child(4){
	background-color : rgba(255,230,170,0.2);
}
#hero-radarTable th:nth-child(5){
	cursor:pointer;
}

#hero-radarTable td{
	font-size:14px;
	letter-spacing : -0.3px;
	font-family: NanumBarunGothic;
	text-align:center;
	vertical-align:middle;
	font-weight: 600;
	overflow:hidden;
}

/**
#hero-radarTable tr:nth-child(even) > td{
	background-color: DimGrey ;
}
**/

/** column1 > description **/
#hero-radarTable td:nth-child(1) > div:nth-child(2){
	font-size:10px;
	font-weight:500;
	color:lightgrey;
}

#hero-radarTable td:nth-child(2){
	background-color : rgba(154,208,245,0.4);
}
#hero-radarTable td:nth-child(3){
	background-color : rgba(255,99,132,0.2);
}
#hero-radarTable td:nth-child(4){
	background-color : rgba(255,230,170,0.2);
}

/** column1 **/
#hero-radarTable td:nth-child(1){

}

/** column2, column3, column4 **/
#hero-radarTable td:nth-child(2),
#hero-radarTable td:nth-child(3),
#hero-radarTable td:nth-child(4){
	font-size:13px;
	letter-spacing: -1px;
}

/** column2, column3, column4 > "점" **/
#hero-radarTable td:nth-child(2) > div:nth-child(1) span:nth-child(2),
#hero-radarTable td:nth-child(3) > div:nth-child(1) span:nth-child(2),
#hero-radarTable td:nth-child(4) > div:nth-child(1) span:nth-child(2){
	font-size:10px;
	font-weight:500;
}

/** column2, column3, column4 > "unit" **/
#hero-radarTable td:nth-child(2) > div:nth-child(2) span,
#hero-radarTable td:nth-child(3) > div:nth-child(2) span,
#hero-radarTable td:nth-child(4) > div:nth-child(2) span{
	font-weight:500;
}

/** column2, column3, column4 > rawData **/
#hero-radarTable td:nth-child(2) > div:nth-child(2),
#hero-radarTable td:nth-child(3) > div:nth-child(2),
#hero-radarTable td:nth-child(4) > div:nth-child(2){
	font-size:11px;
	color:lightgrey;
}

/** column 5(결과열) **/
#hero-radarTable td:nth-child(5){
	font-size: 13px;
}

#hero-radarTable td:nth-child(5) > span:nth-child(1){
	 font-size:8px;
	 margin-right:2px;
}

#hero-radarTable td:nth-child(5) > span:nth-child(3){
	font-size:10px;
}

/** 마지막 행 result css **/
#hero-radarTable tbody tr:last-child td{
	font-size:13px;
	letter-spacing:1px;
	color:grey;
}

#hero-radarTable tbody tr:last-child td span{
	font-size:13px;
	color:white;
}

.perfect{
	color: white;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

/** 
** Fixed Bottom
 **/
#heroContent-selector{
 	display:-webkit-box;
 	display:-ms-flexbox;
 	display:flex;
 	-webkit-box-orient:vertical;
 	-webkit-box-direction:normal;
 	    -ms-flex-direction:column;
 	        flex-direction:column;
}

 /** Button Grounp **/
#heroContent-selector .subTitle{
	font-size:1.8rem;
	font-weight:bold;
	margin-left:0.5rem;
}

#heroContent-selector .btn-group{
	width:100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}

#heroContent-selector button{
	margin:0;
	color:grey;
	background-color : #404040;
	border: #999999;
}

#heroContent-selector button.active{
	background-color : #404040;
	border : 2px solid #999999;
	color:white;
}

#heroContent-selector button:focus{
	outline: none;
}

/** 기간선택 버튼 그룹 버튼3개 **/
#heroContent-selector .heroPeriodBtn-Group > button{
	width:33.333%; /** 100% **/
	
}
/** 티어선택 버튼 그룹 버튼7개 **/
#heroContent-selector .tierSelectBtn-Group > button{
	width:14.285%; /** 100% **/
	height:60px;
}


/** button grounp width **/
#heroContent-selector .btn-group{
	margin : auto;
	width: 95%;
}

/** Hero List bg color **/
#heroContent-selector #heroList{
	background-color : #404040;
	margin : auto;
	width: 95%;
}

/** Hero List **/

#heroList li{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}

#heroList li{
	margin-top:0.5rem;
}

#heroList li:nth-child(1){
	margin-top:0;
}

@media all and (min-width:768px){
	#heroList li{
		margin-top:0.5rem;
		margin-bottom:0.5rem;
	}

	#heroList li:nth-child(1){
		margin-top:0.5rem;
		margin-bottom:0.5rem;
	}
}

.roleContainer{
	width : 6%;
	height : 40px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin-left:5px;
}

.heroContainer{
	width : 12%;
	height : 40px;
	margin-top:4px;
	margin-left: 2px; 
	background-color: Grey;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border: 1px solid Olive ; 
	position:relative;
}

.heroContainer:hover{
	height : 43px;
	margin-top: 1px;
	background-color: YELLOW;
}

.heroContainer.active{
	background-color: Gold;
}

.update{
	width:100%;
	text-align:center;
	position: absolute;
	bottom:0%;
	left:0%;
	
	font-size : 8px;
	line-height: 8px;
	font-weight: bold;
	color: white;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

@media all and (min-width:768px) and (max-width:1024px) {
	.update{
		font-size : 12px;
	}
}

@media all and (min-width:1025px) {
	.update{
		font-size : 13px;
	}
}

.heroNameTag{
	visibility:hidden;
	font-size:1rem;
	position: absolute;
	top:100%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}




/** Lay out **/ /** 768 이상이면 공통으로 모두 적용한다 **/
@media all and (min-width:768px){
	#heroContent-selector #heroList{
		border-top : 1px solid black;
	}

	#heroContent-selector .selectorWrapper{
		width:100%;
		background-color: #222222;
		border-bottom-right-radius:10px;
		border-bottom-left-radius:10px;
		border : 1px solid grey;
		/**position: absolute;**/
		padding-bottom: 20px;
	}
	
	#heroContent-fixed-header{
		-webkit-box-ordinal-group:0;
		    -ms-flex-order:-1;
		        order:-1;
	}
	
	#heroList li{
		width: 50%;
	}
	
	#heroContent-spacer{
		height:0px;
	}
}

@media all and (min-width:768px) and (max-width:1024px) {
	.heroContainer{
		width : 12%;
		height: 40px;
	}
	
	.heroContainer:hover{
		height : 43px;
		margin-top: 1px;
		background-color: YELLOW;
	}
}

@media all and (min-width:1025px) {
	.heroContainer{
		width : 12%;
		height: 50px;
	}
	
	.heroContainer:hover{
		height : 53px;
		margin-top: 1px;
		background-color: YELLOW;
	}
}



/** Header Group 영웅이미지랑, 라인하르트, 오늘경기결과가 나오는 곳. **/
#heroContent-selector #userButton{
	height: 40px;
	color:white;
	margin-right:5px;
	border-radius: 3px;
}

#heroContent-fixed-header {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	height:50px;
	width:100%;
	overflow:hidden;
}


#heroContent-fixed-header .left {
	height:100%;
	margin-left:10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#heroContent-fixed-header .left button{
	height:90%;
	margin:auto;
	border:1px solid grey;
	color:white;
	font-size:5px;
	margin-left:5px;
}

#heroContent-fixed-header .right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}

#titleHeroImg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
	width:61px;
	height: 100%;
	background-image:url('../img/icon-All.png');
	background-size : cover;
	background-repeat: no-repeat;
	background-position: center;
}

#heroContent-fixed-header .upperText{
	font-size:2rem;
	height:50%;
	font-weight: bold;
}

#heroContent-fixed-header .lowerText{
	font-size:2rem;
	height:50%;
	color:black;
	background-color:orange;
}


#cptPoint > div:nth-child(1){
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
	font-size:6rem;
	line-height:6rem;
}

#cptPtArrowLabel{
	font-size:3rem;
	line-height:6rem;
}

#cptPoint > div:nth-child(3){
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	font-size:3rem;
	line-height:2rem;
 }

#cptPoint > div:nth-child(2){
	margin-left:1rem;
}

#cptPoint > div:nth-child(2), #cptPoint > div:nth-child(4){
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	font-size:1.5rem;
	line-height:2rem;
}

#prdCptPt, #todayCptPt{
	font-size:2rem;
	line-height:2rem;
}

.progress{
	margin-bottom:0;
	color:black;
}

#winRating .labelNumber{
	margin-left:1rem;
}

/* 상세보기 */
.chartArea > div:nth-child(4){
	min-height: 5rem;
}

/* fade in out method */ 
.tab-content, .tab-loading{
    -webkit-transition: opacity 0.2s ease-in;
            transition: opacity 0.2s ease-in;
}

.fade-in{
	opacity: 1;
}

.fade-out{
	opacity: 0;
}

/** Deprecated **/
.subTitle{
	font-size:1.8rem;
	font-weight:bold;
	margin-left:0.5rem;
}

.subTitle > span{
	font-size:1.8rem;
	font-weight:0;
	margin-left:0.5rem;
	padding-top:1rem;
	padding-bottom:1rem;
}

.loading-label{
	text-align:center;
	color:LightGrey;
	word-wrap: break-word;
}

li span {
 line-height: 1.8;
 font-size: 1.3em;
}

@media all and (min-width:768px) and (max-width:1024px) {
	.loading-label{
		font-size:20px;
	}
}

@media all and (min-width:1025px) {
	.loading-label{
		font-size:20px;
	}
}


/** font declaration **/

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}