<div class="dev-books-router-header flex f-wh-center" >
  <div class="dev-books-router-header__title">
    "정리되지 않은 지식은 모두 가짜다."
  </div>
</div>

<div class="dev-books-router-container">
  <div class="dev-books__size">
    Total Dev books I readed : <strong class="c-white">{{site.categories[page.category].size}}</strong>
  </div>
  <div>
    {% for year in page.years %}
    <!-- year title -->
    <div class="dev-books__year-title">{{year}}</div>
    <!-- book list -->
    <ul class="flex-wrap no-margin no-padding">
      {% for post in site.categories[page.category] %}
        {% assign postYear = post.date | date: "%Y" %}
          {% if year == postYear %}
          <li class="dev-books__book-list">
              <a href="{{ site.baseurl }}{{post.url}}">
                  <div class="flex p-a-15">
                    <div class="dev-books__cover-img flex f-wh-center">
                      <img src="{{post.bookCoverUrl}}" />
                    </div>
                    <div class="dev-books__meta flex flex--column w-auto">
                      <div class="dev-books__title">{{post.title}}</div>
                      <div class="dev-books__author">{{post.author}}</div>
                      <div class="dev-books__stars flex f-w-end">{{post.stars}}</div>
                      <div class="dev-books__date flex f-w-end">{{post.date | date_to_long_string }}</div>
                    </div>
                  </div>
                </a>
              </li>
          {% endif %}
          {% endfor %}
    </ul>
    {% endfor %}
    <!-- {% if site.categories[page.category] %}
    {% else %}
    <p>There are no posts for this categories.</p>
    {% endif %} -->
  </div>