<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " kr " }}">

<!-- head tag -->
{%- include /head/index.html -%}

<body>
  <!-- nav bar -->
  {%- include /nav/index.html -%}

  <!-- core section -->
  <main class="body-main__out-shell">
    <div class="body-main__inner-shell">
      {{ content }}
    </div>
  </main>

  <!-- footer -->
  {%- include /footer/index.html -%}

</body>

</html>

<style>
  .body-main__inner-shell {
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
  }
</style>