<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " kr " }}">

<!-- head tag -->
{%- include /head-tag.html -%}

<body>
  <!-- nav bar -->
  {%- include /global/navigator/index.html -%}

  <!-- core section -->
  <main class="body-main__out-shell">
    <!-- <div class="body-main__inner-shell"> -->
    {{ content }}
    <!-- </div> -->
  </main>

  <!-- footer -->
  {%- include /global/footer/index.html -%}

</body>

</html>

<style>
  .body-main__out-shell {
    min-height: 100vh;
    background-color: rgb(30, 31, 31);
  }

  .body-main__inner-shell {
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
  }
</style>